// Color variables 
$red : rgba(255, 0, 0, 1);
$green : rgba(0, 255, 0, 1);
$blue : rgba(0, 86, 214, 1);
$yellow : rgba(255, 255, 0, 1);


// Mixins setup
@mixin glow($color) {
    -webkit-box-shadow: 0px 0px 32px 7px $color;
    -moz-box-shadow: 0px 0px 32px 7px $color;
    box-shadow: 0px 0px 32px 7px $color;
}

@mixin glow-animation($color) {
    0% {box-shadow: 0px 0px 32px 7px $color;}
    100% {box-shadow: 0px 0px 20px 6px $color;}
}

@mixin bg-color($color){
    background: $color;
    background: -moz-radial-gradient(center, ellipse cover, $color 0%, rgba(0,0,0,1) 100%) fixed;
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(41,0,0,1)), color-stop(100%, rgba(0,0,0,1))) fixed;
    background: -webkit-radial-gradient(center, ellipse cover, $color 0%, rgba(0,0,0,1) 100%) fixed;
    background: -o-radial-gradient(center, ellipse cover, $color 0%, rgba(0,0,0,1) 100%) fixed;
    background: -ms-radial-gradient(center, ellipse cover, $color 0%, rgba(0,0,0,1) 100%) fixed;
    background: radial-gradient(ellipse at center, $color 0%, rgba(0,0,0,1) 100%) fixed;
}

// Animations
@keyframes glow-red{
    @include glow-animation($red);
}

@keyframes glow-green{
    @include glow-animation($green);
}

@keyframes glow-yellow{
    @include glow-animation($yellow);
}

@keyframes glow-blue{
    @include glow-animation($blue);
}


// Background colors
.red-bg{
    @include bg-color(rgba(50, 0, 0, 1));
}

.blue-bg{
    @include bg-color(rgba(0, 50, 90, 1));    
}

.green-bg{
    @include bg-color(rgba(0, 50, 0, 1));    
}

.yellow-bg{
    @include bg-color(rgba(50, 50, 0, 1));    
}


// Blade colors
.red-blade{
    @include glow($red);
    animation: glow-red 1s ease-in 0.1s infinite alternate;
}

.green-blade{
    @include glow($green);
    animation: glow-green 1s ease-in 0.1s infinite alternate;
}

.yellow-blade{
    @include glow($yellow);
    animation: glow-yellow 1s ease-in 0.1s infinite alternate;
}

.blue-blade{
    @include glow(blue);
    animation: glow-blue 1s ease-in 0.1s infinite alternate;
}

// Hide audio tags
audio{
    display: none;
}

a{
    text-decoration: none;
    color: white;
    &:hover{
       text-decoration: underline; 
    }
}

// Lightsaber master class
.lightsaber{
    position: fixed;
    margin: 0 auto;
    top: 40px;
    left: 0;
    right: 0;
    width: 150px;
    height: 800px;
    transform: rotate(45deg);
}


.blade{
    position: relative;
    border-radius: 15px;
    background: white;
    margin: 0 auto;
    width: 15%;
    height: 65%;
    z-index: -1;
    transition: all .5s;
    transform-origin: bottom;
    transform: scaleY(1);
}

.blade-off{
    transform: scaleY(0);
}


// Hilt styling
.hilt{
    top: -25px;
    position: relative;
    width: 100%;
    height: 35%;
    padding: 0;
    margin: 0;
    .emiter{
        margin: 0 auto;
        width: 30px;
        height: 20px;
        z-index: 1;
    }   
    
    .switch{
        width: 25%;
        height: 8%;
        margin: 0 auto;
        z-index: 0;
         .switch-ring{
            width: 15px;
            height: 15px;
            z-index: 1;
            margin: 0 auto;
            position: relative;
            top: 20%;
            border-radius: 100%;
            z-index: 1;
            transition: all 1s;
            .switch-btn{
                position: relative;
                top: 2.8px;
                margin: 0 auto;
                border-radius: 100%;
                width: 10px;
                height: 10px;
                transition: all 1s;
                z-index: 2;
          }
        }
    }
    
    .crystal-off{
        background: black !important;
        box-shadow: none !important;
    }
    
    .body{
        width: 20%;
        height: 60%;
        margin: 0 auto;
        border-radius: 0 0 5px 5px;
        z-index: 0;
    }
    
    .pummel{
        width: 30px;
        height: 10px;
        margin: 0 auto;
        border-radius: 0 0 8px 8px;
        z-index: 0;
    }
    
    .decal{
        margin: 0 auto;
        width: 100%;
        height: 2px;
        z-index: 2;
    }
    
    .decal-body{
        position: relative;
        width: 80%;
        height: 85%;
        border-radius: 0 0 5px 5px;
        margin: 0 auto;
        z-index: 1;
    }
}

// Hilt gradients
#decal-steel{
    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(28,28,28,1) 44%, rgba(102,102,102,1) 52%, rgba(28,28,28,1) 61%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(44%, rgba(28,28,28,1)), color-stop(52%, rgba(102,102,102,1)), color-stop(61%, rgba(28,28,28,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(28,28,28,1) 44%, rgba(102,102,102,1) 52%, rgba(28,28,28,1) 61%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(28,28,28,1) 44%, rgba(102,102,102,1) 52%, rgba(28,28,28,1) 61%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(28,28,28,1) 44%, rgba(102,102,102,1) 52%, rgba(28,28,28,1) 61%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(28,28,28,1) 44%, rgba(102,102,102,1) 52%, rgba(28,28,28,1) 61%, rgba(0,0,0,1) 100%);
}

#black-steel{
    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(71,71,71,1) 45%, rgba(71,71,71,1) 57%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(45%, rgba(71,71,71,1)), color-stop(57%, rgba(71,71,71,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(71,71,71,1) 45%, rgba(71,71,71,1) 57%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(71,71,71,1) 45%, rgba(71,71,71,1) 57%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(71,71,71,1) 45%, rgba(71,71,71,1) 57%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(71,71,71,1) 45%, rgba(71,71,71,1) 57%, rgba(0,0,0,1) 100%);
}

#steel{
    background: rgba(156,156,156,1);
    background: -moz-linear-gradient(left, rgba(156,156,156,1) 0%, rgba(102,101,102,1) 18%, rgba(19,19,19,1) 37%, rgba(19,19,19,1) 52%, rgba(19,19,19,1) 64%, rgba(71,71,71,1) 82%, rgba(135,135,135,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(156,156,156,1)), color-stop(18%, rgba(102,101,102,1)), color-stop(37%, rgba(19,19,19,1)), color-stop(52%, rgba(19,19,19,1)), color-stop(64%, rgba(19,19,19,1)), color-stop(82%, rgba(71,71,71,1)), color-stop(100%, rgba(135,135,135,1)));
    background: -webkit-linear-gradient(left, rgba(156,156,156,1) 0%, rgba(102,101,102,1) 18%, rgba(19,19,19,1) 37%, rgba(19,19,19,1) 52%, rgba(19,19,19,1) 64%, rgba(71,71,71,1) 82%, rgba(135,135,135,1) 100%);
    background: -o-linear-gradient(left, rgba(156,156,156,1) 0%, rgba(102,101,102,1) 18%, rgba(19,19,19,1) 37%, rgba(19,19,19,1) 52%, rgba(19,19,19,1) 64%, rgba(71,71,71,1) 82%, rgba(135,135,135,1) 100%);
    background: -ms-linear-gradient(left, rgba(156,156,156,1) 0%, rgba(102,101,102,1) 18%, rgba(19,19,19,1) 37%, rgba(19,19,19,1) 52%, rgba(19,19,19,1) 64%, rgba(71,71,71,1) 82%, rgba(135,135,135,1) 100%);
    background: linear-gradient(to right, rgba(156,156,156,1) 0%, rgba(102,101,102,1) 18%, rgba(19,19,19,1) 37%, rgba(19,19,19,1) 52%, rgba(19,19,19,1) 64%, rgba(71,71,71,1) 82%, rgba(135,135,135,1) 100%);
}

#radial-steel{
    background: rgba(255,255,255,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
}



.light-text{
    color: white;  
    text-align: center;
}

// Side bar color picker
.color-picker{
     position: fixed;
     top: 20px;
     right: 20px;
     width: 300px;
     height: 150px;
     padding: 10px;
     background: rgba(71, 70, 70, 0.5);
     ul{
         list-style: none;
         display: flex;
         li{
             flex: 1;
             a{
                display: block;
                margin: 2px;
                width: 30px;
                height: 30px;
                border-radius: 5px;  
             }
         }
     }
}

.author{
    font-size: 12px !important;
    text-align: center;
    color: #a8a8a8;
}

// Color selection buttons
.red{
 background: $red;
 @include glow($red);
}

.green{
 background: $green;
 @include glow($green);
}

.blue{
 background: $blue;
 @include glow($blue);
}

.yellow{
 background: $yellow;
 @include glow($yellow);
}

// Text color
.red-text{
    color: $red !important;
    text-shadow: 0px 0px 31px $red;
}

.green-text{
    color: $green !important;
    text-shadow: 0px 0px 31px $green;
}

.blue-text{
    color: $blue !important;
    text-shadow: 0px 0px 31px $blue;
}

.yellow-text{
    color: $yellow !important;
    text-shadow: 0px 0px 31px $yellow;
}